/* for PostList.js */

.post-list {
    padding: 3rem 5rem 0 5rem;
}

.categories {
    display: flex;
    justify-content: center;
    margin: 2rem 0 5rem 0;
}

.categories button {
    margin: 0 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(56, 0, 101);
    background-color: rgb(207, 0, 218);
    border: 1px solid rgb(169, 0, 177);
    border-radius: 10px;
}


/* for PostItem.js */

.post-container {
    padding: 0 2rem;
    cursor: pointer;
    margin-bottom: 4rem;
}

.post-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.post-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(70, 70, 70);
}

.post-category {
    border: 1px solid rgb(179, 179, 255);
    background-color: rgb(179, 179, 255);
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.post-author {
    padding: 0.5rem 1rem;
}

.post-author span {
    color: rgb(118, 118, 118);
}

.post-container h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(87 48 138);
    padding: 0.5rem 0;
    text-shadow: none;
}

.post-description {
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    padding-bottom: 0.5rem;
    text-align: left;
}

.post-date {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(88, 88, 88);
}

.post-date i {
    padding: 0.1rem;
    margin-bottom: -0.2rem;
}



@media(max-width: 1400px) {
    /* for PostList.js */
    .post-list {
        padding: 3rem 4rem 0 4rem;
    }

    .categories {
        margin: 1.5rem 0 4rem 0;
    }

    .categories button {
        font-size: 1.1rem;
    }

    /* for PostItem.js */
    .post-container {
        padding: 0 1.5rem;
        margin-bottom: 3.5rem;
    }

    .post-info {
        font-size: 1.1rem;
    }

    .post-container h3 {
        font-size: 1.3rem;
    }

    .post-description {
        font-size: 1.1rem;
    }
}

@media(max-width: 1200px) {
    /* for PostList.js */
    .post-list {
        padding: 3rem 3rem 0 3rem;
    }

    .categories button {
        margin: 0 0.5rem;
        font-size: 1rem;
    }

    /* for PostItem.js */
    .post-container {
        margin-bottom: 3rem;
    }

    .post-info {
        font-size: 1rem;
    }

    .post-container h3 {
        font-size: 1.2rem;
    }

    .post-description {
        font-size: 1rem;
    }

    .post-date {
        font-size: 0.9rem;
    }
}

@media(max-width: 1020px) {
    .categories button {
        font-size: 0.9rem;
    }

    .post-container {
        padding: 0 1.2rem;
    }

    .post-info {
        font-size: 0.9rem;
    }

    .post-date {
        font-size: 0.8rem;
    }

}

@media(max-width: 992px) {
    /* for PostList.js +++++++++++++++++++++++++++++++++++++ */
    .post-list {
        padding: 3rem 3rem 0 3rem;
    }

    /* .categories {
        margin: 1.5rem 0 4rem 0;
    } */

    .categories button {
        margin: 0 0.5rem;
        /* padding: 1rem; */
        font-size: 1rem;
    }

    /* for PostItem.js */
    .post-container {
        /* padding: 0 1.5rem; */
        margin-bottom: 3rem;
    }

    .post-info {
        font-size: 1rem;
    }

    /* .post-category {
        padding: 0.5rem 1rem;
    }

    .post-author {
        padding: 0.5rem 1rem;
    } */

    .post-container h3 {
        font-size: 1.2rem;
    }

    .post-description {
        font-size: 1rem;
    }

    .post-date {
        font-size: 0.9rem;
    }
}

@media(max-width: 768px) {}

@media(max-width: 576px) {}