*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
  background-image: url('./../../Assets/Images/bg.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}



.home h1, h5, h3, h4 {
    font-weight: 700;
    line-height: normal;
    text-shadow: -4px 8px 6px black;
}

.home h1 {
    font-size: 6rem;
    margin: 20rem 0 5rem 0;
    padding: 1rem 0;
    color: #ffffff;
}

.home h5 {
    font-size: 2rem;
    color: #ffbb00;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

.home h3 {
    font-size: 4rem;
    color: #ffffff;
    padding: 0.5rem 0;
}

.home h4 {
    font-size: 3rem;
    margin-bottom: 5rem;
    color: #ffffff;
    padding: 0.5rem 0;
}

.postCategories {
    margin-bottom: 10rem;
    margin-top: 2rem;
}

.postCategories button {
    padding: 1rem 1.5rem;
    margin: 0 1rem 1rem 1rem; 
    font-size: 1.5rem;
    font-weight: bold;
    color: #7700ff;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.home a {
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    color: #3a007b;
    border: 1px solid rgb(242, 0, 255);
    border-radius: 10px;    
    background-color: rgb(244, 43, 255);
    padding: 1rem 3rem;
}



.popular-posts {
    margin: 10rem;
}

.recent-posts {
    margin: 0 10rem;
}

.popular-posts h2, .recent-posts h2 {
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 700;
    color: #5d2b96;
}

.post-arrows i, .post-arrows i {
    border: 2px solid #a9a9a9;
    color: #3c3c3c;
    border-radius: 10px;
    margin: 1.5rem 0.5rem 0 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.post-arrows i:hover, .post-arrows i:hover {
    color: #ffffff;
    background-color: rgb(246, 66, 255);
    border: 2px solid rgb(246, 66, 255);
}


.recentPosts , .popularPosts {
    margin-top: 3rem;
    white-space: nowrap;
}

.recentPosts .row , .popularPosts .row {
    display: flex;
    flex-wrap: nowrap;
}

.recentPosts .row > * , .popularPosts .row > * {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.fas {
    cursor: pointer;
    margin: 0 1rem;
}





.newsletter {
    margin: 10rem 20rem;
    border-radius: 15px;
    padding: 5rem 0;
    text-align: center;
    background-image: url('./../../Assets/Images/newsletter.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.newsletter h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 2rem;
    padding: 1rem 0;
}

.newsletter p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 4rem;
}

.newsletter input {
    width: 30%;
    border: none;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    outline: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #444444;
}

.newsletter button {
    background-color: rgb(242, 0, 255);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 1rem;
}

.newsletter button:hover {
    background-color: rgb(205, 0, 216);
}