.home {
    background-image: url('./../../Assets/Images/bg.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: 120vh;
}

.home h1,
.home h5,
.home h3,
.home h4 {
    font-weight: 700;
    line-height: normal;
    text-shadow: -4px 8px 6px black;
    padding: 0.5rem 0;
}

.home h1 {
    font-size: 5rem;
    margin: 15rem 0 3rem 0;
    color: #ffffff;
}

.home h5 {
    font-size: 2rem;
    color: #ffbb00;
    margin-bottom: 2.5rem;
}

.home h3 {
    font-size: 2.5rem;
    color: #ffffff;
}

.home h4 {
    font-size: 2.5rem;
    margin-bottom: 5rem;
    color: #ffffff;
}

.home a {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #3a007b;
    border: 1px solid rgb(242, 0, 255);
    border-radius: 10px;
    background-color: rgb(244, 43, 255);
    padding: 1rem 3rem;
}


.popular-posts {
    margin: 10rem;
}

.recent-posts {
    margin: 0 10rem;
}

.popular-posts h2,
.recent-posts h2 {
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: 700;
    color: #5d2b96;
}

.post-arrows i,
.post-arrows i {
    border: 2px solid #a9a9a9;
    color: #3c3c3c;
    border-radius: 10px;
    margin: 1.5rem 0.5rem 0 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.post-arrows i:hover,
.post-arrows i:hover {
    color: #ffffff;
    background-color: rgb(246, 66, 255);
    border: 2px solid rgb(246, 66, 255);
}


.recentPosts,
.popularPosts {
    margin-top: 3rem;
    white-space: nowrap;
}

.recentPosts .row,
.popularPosts .row {
    display: flex;
    flex-wrap: nowrap;
}

.recentPosts .row>*,
.popularPosts .row>* {
    flex: 0 0 auto;
    margin-right: 1rem;
}

.fas {
    cursor: pointer;
    margin: 0 1rem;
}

.newsletter-part {
    margin: 0 8rem 5rem 8rem;
}



@media(max-width: 1400px) {
    .home {
        height: 120vh;
    }
    
    .home h1 {
        font-size: 5rem;
        margin: 15rem 0 3rem 0;
    }
    
    .home h5 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
    
    .home h3 {
        font-size: 2.5rem;
    }
    
    .home h4 {
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }
    
    .home a {
        font-size: 2rem;
        padding: 1rem 3rem;
    }


    .popular-posts {
        margin: 10rem;
    }
    
    .recent-posts {
        margin: 0 10rem;
    }
    
    .popular-posts h2,
    .recent-posts h2 {
        padding: 1rem 0;
        font-size: 3rem;
    }
    
    .post-arrows i,
    .post-arrows i {
        margin: 1.5rem 0.5rem 0 0.5rem;
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }
    
    .recentPosts,
    .popularPosts {
        margin-top: 3rem;
    }
    
    .recentPosts .row>*,
    .popularPosts .row>* {
        flex: 0 0 auto;
        margin-right: 1rem;
    }
    
    .fas {
        margin: 0 1rem;
    }

    .newsletter-part {
        margin: 0 8rem 5rem 8rem;
    }
}

@media(max-width: 1200px) {

}

@media(max-width: 992px) {

}

@media(max-width: 768px) {

}

@media(max-width: 576px) {

}