
nav {
   background-color: #462aad;
   border-bottom: 1px solid #815eff;
   z-index: 1; /* in order to prevent form overlapping the navbar and the team part of About us, we need to give navbar this css */
}

nav form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}

.navLogo {
    width: 6%;
    margin-left: 2rem;
}

nav img {
    width: 100%;
    border-radius: 50%;
}


nav form input {
    border: none;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    outline: none;
    font-size: 1.2rem;
}

nav form button {
    background-color: rgb(242, 0, 255);
    color: rgb(89 89 89);
    border: none;
    border-left: 1px solid rgb(242, 0, 255);
    cursor: pointer;
    padding: 1rem;
    border-radius: 0 10px 10px 0;
}

nav form button i {
    font-size: 1.8rem;
    padding-top: 0.1rem;
}

nav form button:hover {
    background-color: rgb(255, 0, 255);
}


.navLink {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 2rem;
}

