* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-page {
    background-color: rgb(239, 239, 239);
}

.register-container {
    max-width: 40%;
    margin: 20rem auto 10rem auto;
    padding: 3rem 5rem;
    border: 1px solid rgb(186, 134, 219);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgb(169 169 169);
    background-color: rgb(214, 164, 244);
}

.register-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(86, 11, 134);
}

.register-container form {
    margin-bottom: 2rem;
}

.register-container form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(86, 11, 134);
}

.register-container form input {
    width: 100%;
    outline: none;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid rgb(186, 134, 219);
}

.register-container form button {
    width: 100%;
    padding: 1rem 2rem;
    background-color: #d400ff;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.register-container form button:hover {
    background-color: #e600ff;
}