
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    background-color: #4c31ae;
    border-top: 1px solid #815eff;
    color: white;
    padding: 5rem 10rem 2rem 10rem;
}

.footer-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.footer-logo img {
    width: 50%;
    border-radius: 50%;
    margin-left: 0;
}

.footer-logo h3 {
    font-size: 3rem;
    font-weight: 700;
    padding: 1.5rem 0 1rem 2rem;
    line-height: 4rem;
}

.footer-description {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 0 1.5rem 1rem;

}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-icons a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.social-icons a i {
    padding: 0.1rem 0;
}



.footer-subscribe h3 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 0 2rem 5rem;
}

.footer-subscribe form {
    padding-left: 5rem;
}

.footer-subscribe input {
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.175);
    color: #e1e1e1;
}

.footer-subscribe input::placeholder {
    color: #c8c8c8;
}

.footer-subscribe button {
    background-color: rgb(242, 0, 255);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
}

.footer-subscribe button:hover {
    background-color: rgb(205, 0, 216);

}


.footer-list h3 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 0 1rem 3rem;
}

.footer-list ul {
    list-style: none;
    padding-left: 3rem;
}

.footer-list li {
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.footer-list a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-list a:hover {
    color: rgb(242, 0, 255);
}



.footer-bottom p {
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}



/* CSS for Category Componenet */

.categoryPage {
    align-items: center;
    text-align: center;
    margin: 20rem 5rem 10rem 5rem;
}

.categoryPage h1 {
    margin-bottom: 5rem;
    padding: 1rem 0;
    font-size: 4rem;
    color: rgb(98, 0, 128);
    font-weight: 900;
}